# Credenciales AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# Bucket S3 y rutas
S3_BUCKET=sigmaq
S3_INPUT_PREFIX=bedrock/Cajas Especiales Drive/Archivos Excel-CSV/Materiales/
S3_OUTPUT_PREFIX=clasificados/

# (Opcional) ruta exacta del archivo SAP, si difiere del default
# SAP_FILE_KEY=bedrock/Cajas Especiales Drive/Archivos Excel-CSV/Materiales/Price List MP SAP Ago-2025.xlsx
